{% load static %}

{% load static %}

<html>

<head>
<style>
body{
	background-color: #F8F8F8!!important;
	text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

p{
    text-indent: 50px;
}

p3{
    text-align: left;
}

#info{
    text-align: center!important;
}

#profile-pic{
    width: 200px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

#content{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
#profile-wrapper{
    text-align: center;
}

</style>
</head>

<head>
	<title>iFeeder</title>
	<!--<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<br>
<div class = 'card card-body text-black bg-light mb-5 h-50 border-info' id = 'profile-wrapper'>
    <div>
        <t>PPT</t>
        <iframe src="https://onedrive.live.com/embed?cid=E1F59268200FA693&resid=E1F59268200FA693%213623&authkey=ALz_MaotiKs-4Ko" width="320" height="180" frameborder="0" scrolling="no" allowfullscreen></iframe></div>
    <p id="info">Phone Number: (917) 618-8958 • Email: sxw207@nyu.edu • <a href="www.linkedin.com/in/shixinkevinwu">Linkedin Profile</a> • <a href="https://my.indeed.com/p/shixinw-aqtitv7"> Indeed Profile</a>• <a href="{% url 'homepage' %}"><u>Back to Resume Page</u></a> </p>
</body>

</html>
